<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link rel="shortcut icon" href="#">
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/post-show.css' />

    <title><%= title %></title>
</head>
<body>
    <%- include ../partials/navbar  %> 
    <%- include ../partials/flash-messages%>
    <%-body%>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const post = <%-JSON.stringify(post)%>
    </script>
    <script src="/javascripts/post-show.js"></script>
</body>

</html>