<% layout('layouts/boilerplate') %> 
<h1><%= currentUser.username %>'s Profile</h1>

<p>Recent Posts: </p>
<% for(let post of posts) {%>
    <div>
        <a href="/posts/<%=post._id%>"><%= post.title %></a>
    </div>
    <% } %>  

    <p>Update Info: </p>
    <form action="/profile?_method=PUT" method="POST">
        <div>
            <label for="username">Username :</label>
            <input type="text" name="user[username]" id="username"  placeholder="username"
             value="<%=currentUser.username%>" autofocus required>
        </div>
        <div>
            <label for="current-password">Current Password: </label>
            <input type="password" name="user[currentPassword]" id="current-password"
            placeholder="current password" required>
        </div>
        <div>
            <label for="new-password">New Password: </label>
            <input type="password" name="user[newPassword]" id="new-password"
            placeholder="new password">
        </div>
        <div>
            <label for="password-confirmation">New Password Confirmation: </label>
            <input type="password" name="user[passwordConfirmation]" id="password-confirmation"
            placeholder="new password confirmation">
        </div>
        <div id="validation-message"></div>
        <div>
            <label for="email">Email: </label>
            <input type="text" name="user[email]" id="email" placeholder="email"
             value="<%=currentUser.email%>" required>
        </div>
        <div>
            <label for="image">Profile Image: </label>
            <input type="file" name="user[image]" id="image">
        </div>
        
        <input type="submit" id="update-profile">
    </form>

    <script src="/javascripts/profile.js"></script>