<h1>New Post</h1>

<form action="/posts/<%=post._id%>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <div><input type="text" name="post[title]" value="<%=post.title%>"></div>
    <div><input type="text" name="post[price]" value="<%=post.price %>"></div>
    <div>
        <input type="file" name="images" id="imageUpload" multiple>
        <div>
        <% if(post.images.length) {%> 
            <% post.images.forEach((image,i) => {%>
                <img src="<%=image.thumb%>" name="<%=image.filename %>" alt="">
                <label for="image<%=i%>">Delete?</label>
                <input type="checkbox" name="deleteImages[]" id="image<%= i %>" value="<%=image.filename%>" class="imageDeleteCheckbox">
            <% }) %>  
        <% } %>
        </div> 
    </div>
    <div><textarea name="post[description]"><%=post.description %></textarea></div>
    <div><input type="text" name="post[location]" value="<%=post.location %>"></div>

    <input type="submit">
</form>

<script>
    // find our post form
    let editForm = document.getElementById('postEditForm')
    // add a listener to the form
    editForm.addEventListener('submit', function(e) {
         // find length of uploaded imgs
    let uploadImages = document.getElementById('imageUpload').files.length;
    
    // find total number of existing imgs
    let existingImgs = document.querySelectorAll('.imageDeleteCheckbox').length;
    // find total number of potential deletion
    let deletionImgs = document.querySelectorAll('.imageDeleteCheckbox:checked').length;
    // figure out if the form can be submited or not
    let newTotal = existingImgs - deletionImgs + uploadImages
    if( newTotal > 4){
        e.preventDefault();
        const removalAmt = newTotal - 4
        alert(`You need to remove ${removalAmt} (more) image${removalAmt === 1 ? '' : 's'}!`)
    }
    });
   


</script>