<% layout('layouts/boilerplate') %> 
<h1>Edit Post</h1>
<form action="/posts/<%=post._id%>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">
    <div><input type="text" name="post[title]" value="<%=post.title%>"></div>
    <div><input type="text" name="post[price]" value="<%=post.price %>"></div>
    <div>
        <input type="file" name="images" id="imageUpload" multiple>
        <div>
        <% if(post.images.length) {%> 
            <% post.images.forEach((image,i) => {%>
                <img src="<%=image.thumb%>" name="<%=image.filename %>" alt="">
                <label for="image<%=i%>">Delete?</label>
                <input type="checkbox" name="deleteImages[]" id="image<%= i %>" value="<%=image.filename%>" class="imageDeleteCheckbox">
            <% }) %>  
        <% } %>
        </div> 
    </div>
    <div><textarea name="post[description]"><%=post.description %></textarea></div>
    <div><input type="text" name="post[location]" value="<%=post.location %>"></div>

    <input type="submit">
</form>
<script src="/javascripts/post-edit.js"></script>