<% layout('layouts/boilerplate') %> 
    <h1>Post Index</h1>
    <div id="cluster-map" style='width: 100%; height: 300px;'></div>
    <%- include ../partials/paginate-post  %>

    <% for(let post of posts.docs) {%>
        <h2><%=post.title%></h2>
        <div><%=post.price %></div>
        <div><%=post.description %></div>
        <div><%=post.location %></div>
        <div><a href="/posts/<%=post._id%>">View More</a></div>
        <% }; %>

    <%- include ../partials/paginate-post  %> 

    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const posts = {features:<%-JSON.stringify(posts.docs)%>}
    </script>


