<% layout('layouts/boilerplate') %>

<h1>Show page</h1>

<div id='map' style='width: 400px; height: 300px;'></div>

<h2> <%=post.title%> </h2>
<div>Price: <%=post.price%></div>
<div>Description: <%=post.description%></div>
<div>Location: <%=post.location%></div>
<div>
    <% if(post.images.length) {%>
        <% for(image of post.images) {%>
            <img src="<%=image.little%>" alt="">
            <% } %>  
        <% } %>  
</div>
<div>
    <a href="/posts/<%=post._id%>/edit">
        <button>Edit</button>
    </a>
</div>
<div>
    <form action="/posts/<%=post._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const post = <%-JSON.stringify(post)%>
</script>

<script src="/javascripts/map.js"></script>